<app-navbar></app-navbar>
<div class="hero-wrap" style="background-image: url('assets/images/image_5.jpg');" data-stellar-background-ratio="0.5">
  <div class="section">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>







    <div>


      <form class="profile-form" [formGroup]="form">
        <h2> Profil</h2>
        <label for="email">Email :</label>
        <input type="email" id="email" formControlName="email" [(ngModel)]="user.email" required>
        <label for="nom">Username :</label>
        <input type="text" id="nom" formControlName="username" [(ngModel)]="user.username" required>
        <label for="telephone">Téléphone :</label>
        <input type="tel" id="telephone" formControlName="phone" [(ngModel)]="user.phone" required>
        <label for="nouvelle-photo">Adresse :</label>
        <input type="text" id="poste" formControlName="adress" [(ngModel)]="user.adress" required>
        <!-- <label for="nouveau-mot-de-passe">Nouveau mot de passe :</label>
            <input type="password" id="nouveau-mot-de-passe" formControlName="password"> -->

        <button type="submit" (click)="updatestage()">Enregistrer les modifications</button>
      </form>
    </div>
    <div>

    </div>

    <app-footer></app-footer>
