

<app-navbar></app-navbar>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(assets/images/bg_2.jpg); height: 1028px; background-position: 50% 0px;" data-stellar-background-ratio="0.5">
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>


 <section class="ftco-section contact-section">

<div class="container">

  <div class="wrapper">

    <div class="form-wrapper">
      <fieldset class="section is-active">
        <h3>Nouvelle Demande d'Inspection</h3>

        <input type="textarea" [(ngModel)]="description" placeholder="Description">
        <input type="date" [(ngModel)]="date" placeholder="Date">

        <input type="text" [(ngModel)]="ville" placeholder="ville">
        <button (click)="uploadFiles()">Upload</button>


      </fieldset>


    </div>
  </div>
</div>

 </section>
