<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%7CVarela+Round">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- <div class="hero-wrap" style="background-image: url('assets/images/image_5.jpg');" data-stellar-background-ratio="0.5"></div> -->
<app-navbar></app-navbar>
<div class="hero-wrap" style="background-image: url('assets/images/image_5.jpg');" data-stellar-background-ratio="0.5"></div>
  <div class="section">
    <br>
    <br>








    <div>


      <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>description</th>
                <th>ville</th>
                <th>date</th>
                <th>Client Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of listinspection">
            <ng-container *ngIf="i.annonce.client.id == this.id" >

              <td>{{i.id}}</td>
              <td>{{i.description}}</td>
              <td>{{i.ville}}</td>
              <td>{{i.date}}</td>
              <td>{{i.annonce.client.phone}}</td>

              <td><ng-container *ngIf="i.statut == true; else elseTemplate">
                <div class="btn btn-success">Active</div>
               </ng-container>
               <ng-template #elseTemplate>
                 <div class="btn btn-danger">Disabled</div>
               </ng-template>
             </td>
              <td>
                <a [routerLink]="['/updateInspection/', i.id]" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                <a class="delete" title="Delete" data-toggle="tooltip" ><i class="material-icons" (click)="deleteinspection(i.id)">&#xE5C9;</i></a>

                <ng-container *ngIf="i.statut == true; else elseTemplate">
                  <a class="delete btn btn-danger" style="
                  margin-top: -2.5rem;
              " title="Delete" data-toggle="tooltip" (click)="disabledinspection(i.id)">
                   Disabled
                  </a>
                </ng-container>
                <ng-template #elseTemplate>
                  <a class="delete btn btn-success" style="
                  margin-top: -2.5rem;
            " title="Delete" data-toggle="tooltip" (click)="Activeinspection(i.id)">
                    Active
                  </a>
                </ng-template>
            </td>
          </ng-container>
        </tbody>
    </table>
    </div>
    <div>


    <app-footer></app-footer>



  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
