<app-navbar></app-navbar>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(assets/images/bg_2.jpg); height: 1028px; background-position: 50% 0px;" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start" style="height: 1028px;">
      <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Acceuil<i class="ion-ios-arrow-forward"></i></a></span> <span>Contacte <i class="ion-ios-arrow-forward"></i></span></p>
        <h1 class="mb-3 bread">Contacter nous</h1>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section contact-section">
  <div class="container">
    <div class="row d-flex mb-5 contact-info justify-content-center">
      <div class="col-md-8">
        <div class="row mb-5">
          <div class="col-md-4 text-center py-4">
            <div class="icon">
              <span class="icon-map-o"></span>
            </div>
            <p><span>Addresse:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
          </div>
          <div class="col-md-4 text-center border-height py-4">
            <div class="icon">
              <span class="icon-mobile-phone"></span>
            </div>
            <p><span>Téléphone:</span> <a href="tel://1234567920">+ 21631456876</a></p>
          </div>
          <div class="col-md-4 text-center py-4">
            <div class="icon">
              <span class="icon-envelope-o"></span>
            </div>
            <p><span>Email:</span> <a href="mailto:info@yoursite.com">autoroad1313@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row block-9 justify-content-center mb-5">
      <div class="col-md-8 mb-md-5">
        <h2 class="text-center">Si vous avez des questions<br>N'hésitez pas de nous envoyer un message</h2>
        <form action="#" class="bg-light p-5 contact-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Ton Nom">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Ton Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Sujet">
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group text-center"> <!-- Added "text-center" class -->
            <input type="submit" value="Envoyer Message" class="btn btn-primary py-3 px-5">
          </div>
        </form>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-md-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12776.72460522122!2d10.091925!3d36.8141788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2stn!4v1683487884218!5m2!1sfr!2stn" width="600" height="450" style="border:0; margin-left: 17%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
