<html lang="en">
  <head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="p-4 pt-5">
          <img src="../../assets/images/avatar3.png"  class="img logo rounded-circle mb-5">
          <a></a>
          <ul class="list-unstyled components mb-5">
            <li >
              <a  data-toggle="collapse" aria-expanded="false" >Home</a>
            </li>
            <li>
                <a >About</a>
            </li>
            <li>
              <a  data-toggle="collapse" aria-expanded="false" >Pages</a>
            </li>
            <li>
              <a routerLink="/user">Employée</a>
            </li>
            <li>
              <a routerLink="/profileadmin">Profile</a>
            </li>
          </ul>
          <a class="dropdown-item" type="button" >Logout</a>
        </div>
      </nav>
        <!-- Page Content  -->
      <div id="content" class="p-3 p-md-3">
        <div>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%7CVarela+Round">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          </div>
            <body >
              <div class="container" >
                  <div class="table-responsive">
                      <div class="table-wrapper">
                          <div class="table-title">
                              <div class="row">
                                  <div class="col-xs-4">
                                      <h2>User <b>Management</b></h2>
                                  </div>
                                  <div class="col-xs-3">
                                      <a href="#" class="btn btn-primary"><i class="material-icons">&#xE147;</i> <span>Add New User</span></a>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <br>
                          <br>
                          <br>
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>Mat</th>
                                      <th>User-Name</th>
                                      <th>Email</th>
                                      <th>Role</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr>
                                    <td>id</td>
                                    <td>username</td>
                                    <td>email</td>
                                    <td>password</td>
                                    <td>
                                      <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                                      <a class="delete" title="Delete" data-toggle="tooltip" ><i class="material-icons">&#xE5C9;</i></a>
                                  </td>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              </body>
       </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
