
<app-navbar></app-navbar>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(../../assets/images/bg_2.jpg); height: 1028px; background-position: 50% 0px;" data-stellar-background-ratio="0.5">
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

 <br>
 <br>













<div class="container">

  <div class="wrapper">

    <div>
      <input type="file" (change)="onFileSelected($event)" multiple>
      <input type="text" [(ngModel)]="description" placeholder="Description">
      <select  [(ngModel)]="categorie" class="form-select">
        <option *ngFor="let item of listcategorie" value="{{item.id}}">{{item.marque}}</option>
      </select>
      <!-- <input type="date" [(ngModel)]="date" placeholder="Date"> -->
      <input type="text" [(ngModel)]="prix" placeholder="Prix">
      <input type="text" [(ngModel)]="lieu" placeholder="Lieu">
      <button (click)="uploadFiles(3)">Upload</button>
    </div>
    <div *ngIf="message">
      {{ message }}
    </div>

  </div>
</div>





<!-- <section class="user-profile section">
  <div class="container">
      <div class="row">

          <form>


              <div class="form-group">

                <input type="text" class="form-control" id="name" placeholder=" Nom du produit"
                autofocus [(ngModel)]="produit.nomproduit" name="nomproduit" required>
              </div>
              <div class="form-group">
                <input type="number" min="0" class="form-control" placeholder=" Prix"
                autofocus id="prix" [(ngModel)]="produit.prix" name="prix" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder=" marque"
                autofocus id="prix" [(ngModel)]="produit.marque" name="marque" required>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder=" stock"
                autofocus id="prix" [(ngModel)]="produit.stock" name="stock" required>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder=" description"
                autofocus id="prix" [(ngModel)]="produit.description" name="description" required>
              </div>

              <div class="form-group">
                  <label for="image">Image</label>
                  <input type="file" class="form-control-file" id="files" multiple (change)="onMultipleFilesSelected($event)" name="files" required>
                </div>

              <button type="button" class="btn btn-primary" (click)="saveproduit()">Save</button>
            </form>

      </div>
  </div>
</section> -->
